html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

nav {
    background-color: #ffffff;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    
}

.nav-container {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    padding: 10px 10px;
    border-radius: 5px;
}


.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu li a {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-menu li a:hover {

    color: green;

}
#topRightBtn{

        text-decoration: none;
        background-color: rgb(15, 149, 15);
        color: #fff;
        font-size: 16px;
        padding: 10px 15px;
        border-radius: 10px;
    
}
.nav-toggle {
    display: none;
    background-color: transparent;
    border: none;
    color: #0e0e0e;
    font-size: 24px;
    cursor: pointer;
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.hero-container .right {
    padding: 30px;
    flex: 1;
}

.hero-container .right img {
    width: 100%;
}

.hero-container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    flex: 1;
}

.hero-container .left h2 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 10px;
}

.hero-container .left p {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 30px;
}

.hero-container .left a {
    text-decoration: none;
    background-color: rgb(15, 149, 15);
    color: #fff;
    font-size: 16px;
    padding: 12px 15px;
    border-radius: 10px;
}

.hero-container .left h6 {
    margin: 20px 10px 10px 5px;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 20px;
    }

    .nav-menu li {
        margin: 15px 14px;
    }

    .nav-toggle {
        display: block;
    }

    .nav-active .nav-menu {
        display: flex;
    }

    .hero-container {
        flex-direction: column-reverse;
    }

    .hero-container .left h2 {
        font-size: 36px;
    }

    .hero-container .left p {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
   
    #topRightBtn{
        font-size: 14px;
    }
}



@media only screen and (min-width: 600px) {}

footer {
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;

}

footer p {}