<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Home/Home.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <button class="nav-toggle">&#9776;</button>
            <a href="/" class="nav-logo">TestPrep</a>
            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="userLogingDiv"></div>
        </div>
    </nav>
    <div class="profile-container">
        <div class="profile-header">
          
                <img src="usericon.jpg" alt="Profile Picture">
                <div class="Profile_Info">
                    <h3></h3>
                    <button class="Logout-button">Log out</button>
                </div>
          
            <button class="close-button">&times;</button>
        </div>
       
    </div>
    <div class="main-container">
        <div>
            <h1 class="Greeting">Welcome To TestPrep</h1>
            <p class="Sub-Greeting">Please Login To Continue.....</p>
        </div>
        <div class="select-container">
            <div class="Topic-select">
                <select id="Test-Type">
                    <option value="null">Choose Test Type</option>
                    <option value="aptitude">Aptitude</option>
                    <option value="reasoning">reasoning</option>
                    <option value="general_awareness">general_awareness</option>
                    <option value="verbal">verbal</option>
                </select>
            </div>

            <div class="Length-select">
                <select id="Test-Length">
                    <option value="null">Test Length</option>
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="12">12</option>
                </select>
            </div>
            
            <a id="TakeATest" href="/test">Take a Test</a>
        </div>
    </div>


    <footer>
        <p>&copy; 2023</p>
    </footer>
    <script src="/Home/Home.js"></script>
</body>

</html>