<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Home/index.css">
</head>
<body>
    <nav>
        <div class="nav-container">
           <a href="#" class="nav-logo">TestPrep.js</a>
            <button class="nav-toggle">&#9776;</button>
            <ul class="nav-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-container">
        <h1>Test.YourSelf();</h1>
        <p>`A Test a day keeps ${Placeholder} away.`</p>
        <div class="select-container">
            <select id="Test-length">
                <option value="0">Choose Test length</option>
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="12">12</option>
            </select>
            <a href="/test">Take a Test</a>
        </div>
    </div>
    <div class="about" id="about">
        <div class="about-content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis magna eu augue luctus lacinia a
                id urna. Nunc malesuada eget metus non euismod. Nam tempor, ante in posuere viverra, nulla leo bibendum
                purus, sit amet tincidunt orci lacus et quam.</p>
        </div>
    </div>
    <div class="contact" id="contact">
        <div class="contact-content">
            <h2>contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis magna eu augue luctus lacinia a
                id urna. Nunc malesuada eget metus non euismod. Nam tempor, ante in posuere viverra, nulla leo bibendum
                purus, sit amet tincidunt orci lacus et quam.</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2023</p>
    </footer>
    <script src="/Home/index.js"></script>
</body>
</html>