<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/TestPage/test.css">
</head>

<body>
    <div id="tac">
        <h2>Rules:</h2>
        <ul class="list">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laborum eos rem sequi veniam
                necessitatibus aut, tempore est amet assumenda provident velit nostrum officia enim omnis vero aperiam
                ad incidunt.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laborum eos rem sequi veniam
                necessitatibus aut, tempore est amet assumenda provident velit nostrum officia enim omnis vero aperiam
                ad incidunt.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laborum eos rem sequi veniam
                necessitatibus aut, tempore est amet assumenda provident velit nostrum officia enim omnis vero aperiam
                ad incidunt.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laborum eos rem sequi veniam
                necessitatibus aut, tempore est amet assumenda provident velit nostrum officia enim omnis vero aperiam
                ad incidunt.</li>
            
        </ul>
        <p id="testlength"></p>
        <button type="button" id="accept_tac">Start Test</button>
    </div>

    <div id="timer">
        <span id="minutes"></span>:<span id="seconds"></span>
    </div>
    <div id="questions"></div>
    <div id="results">
        <h2>Test Result:</h2>
        <p></p>
        <hr>
        <br>
        <br>
        <table id="resultTable">
            <thead>
                <tr>
                    <th></th>
                    <th>TotalQuestions</th>
                    <th>Correct</th>
                    <th>Wrong</th>
                    <th>Unattempted</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Verbal</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Genral Awerness</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Aptitude</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Reasoning</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5"><b>Total</b></td>

                    <td></td>
                </tr>

            </tbody>
        </table>

        <button onclick="printBoth('questions','results')" id="print">Print</button>
     </div>

    <script src="/TestPage/test.js"></script>

</body>

</html>